{% extends 'base.html' %}
{% load static %}
{% block body %}
  

  
      <div class="main-wrap">
        <div class="cover_1">
          <div class="img_bg" style="background-image: url({% static 'site_static/img/bbq.jpeg' %})" data-stellar-background-ratio="0.5">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-12" data-aos="fade-up">
                  <h2 class="heading">In Parrilla Argentina we selected the best cuts of the Hereford and Aberdeen Angus breeds. We specialise in Traditional Meat Cuts and Recipes while delivering a unique Table Service Experience.</h2>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- .cover_1 -->

        {% comment %}

        <div class="section">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-7 text-center"  data-aos="fade-up">
                <h2 class="mb-4">Our Specialties</h2>
                <p class="lead">Our specialty is traditional Argentinian barbeque, but we offer specialty brunches, breakfast and vegetarian dishes too.</p>
              </div>
            </div>
          </div>
        </div> <!-- .section -->
                

        <div class="section pt-0 pb-0">

          <div class="menus d-flex bg-light">
            <div class="d-flex item">
              <div class="image" style="background-image: url(media/meals/Asado-de-Tira.jpeg);" data-aos="fade"></div>
              <div class="text">
                <h3>Argentinian Provoleta with toppings</h3>
                <p>Traditional Argentinian melted provolone cheese, served hot from the BBQ with a  Ham, Tomate and Red Pepper as toppings.</p>
                <p class="price">€6.00</p>
              </div>
            </div> <!-- .item -->

            <div class="d-flex item">
              <div class="image order-2 order-md-1"  style="background-image: url(media/meals/brunch_argentino.jpg);" data-aos="fade" data-aos-delay="100"></div>
              <div class="text order-1 order-md-2">
                <h3>Empanadas and Mate Tea</h3>
                <p>5 Empanadas and Mate Tea included.</p>
                <p class="price">€9.00</p>
              </div>
            </div> <!-- .item -->

            <div class="d-flex item">
              <div class="image order-1 order-md-2 order-lg-2 order-xl-1" style="background-image: url(media/meals/Asado-de-Tira.jpeg);" data-aos="fade" data-aos-delay="200"></div>
              <div class="text order-2 order-md-1 order-lg-1 order-xl-2">
                <h3>Short Ribs</h3>
                <p>Finger-licking, tasty morsels of short ribs. A bit crispy on the outside to contrast with the tender meat inside. 800 grams  with sides included..</p>
                <p class="price">€20.00</p>
                
              </div>
            </div> <!-- .item -->

            <div class="d-flex item">
              <div class="image order-2" style="background-image: url(media/meals/Bife-de-Chorizo-Especial.jpeg);" data-aos="fade" data-aos-delay="300"></div>
              <div class="text order-1 mb-3">
                <h3>New York Strip</h3>
                <p>500 grs. with side dish. To share.</p>
                <p class="price">€17.00</p>
              </div>
            </div> <!-- .item -->

            <div class="d-flex item">
              <div class="image order-1 order-lg-1 order-xl-2" style="background-image: url(media/meals/Brochette-de-Lomo-y-Pollo.jpeg);" data-aos="fade" data-aos-delay="400"></div>
              <div class="text order-2 order-lg-2 order-xl-1">
                <h3>Chicken and Loin Brochette</h3>
                <p>Loin and chicken brochette with bacon, onion and bell pepper with choice of side.</p>
                <p class="price">€13.00</p>
              </div>
            </div> <!-- .item -->

            <div class="d-flex item">
              <div class="image order-2 order-md-1 order-lg-1 order-xl-2" style="background-image: url(media/meals/rib-eye.jpeg);" data-aos="fade" data-aos-delay="500"></div>
              <div class="text order-1 order-md-2 order-lg-2 order-xl-1">
                <h3>Rib Eye</h3>
                <p>500 grams Irish Grass fed with a side of choice.</p>
                <p class="price">€14.00</p>
              </div>
            </div> <!-- .item -->

          </div>
        </div> 
        {% endcomment %}

        <div class="section">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-8" data-aos="fade-up">

                <h2 class="mb-5 text-center">Menu List with Price</h2>

                <ul class="nav site-tab-nav" id="pills-tab" role="tablist">
                  {% for category in categories %}
                    <li class="nav-item">
                      <a class="nav-link " id="{{category}}-tab" data-toggle="pill" href="#{{category}}" role="tab" aria-controls="{{category}}" aria-selected="true">{{category}}</a>
                    </li>
                  {% endfor %}

                </ul>


                <div class="tab-content" id="pills-tabContent">

                  {% for category in categories %}

                    <div class="tab-pane fade show" id="{{category}}" role="tabpanel" aria-labelledby="{{category}}-tab">
                      
                      {% for meal in meal_list %}
                          {% if meal.category == category%}
                            <div class="d-block d-md-flex menu-food-item">
                              <div class="text order-1 mb-3">
                                <h3><a href="{% url 'meals:meal_detail' meal.slug %}">{{meal.name}}</a></h3>
                                <p>{{meal.description}}</p>
                              </div>
                              <div class="price order-2">
                                <strong>${{meal.price}}</strong>
                              </div>
                            </div> <!-- .menu-food-item -->
                          {% endif %}
                      {% endfor %}

                    </div>
                    
                  {% endfor %}
                </div>


              </div>
            </div>
          </div>
        </div>


        

      </div> <!-- .main-wrap -->
      
      {% endblock body %}